<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.last_project">
    <!-- 1. 권한 주기 인터넷과 네트워크 와이파이 등을 사용하게끔 권한을 줌. -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 사용 (현재) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 카카오 맵 api 사용시 필요  + INTERNET 권한 필요 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="c006f031712cfaf72e9114ab242a0b4c" />

    <!-- 해당하는 어플은 어떠한 권한들이 필요한지를 써놓음 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hadware.camera2"
        android:required="true" /> <!-- API30이상에서는 queries사용해서 권한부여를 한번 더 해야함. -->
    <queries>

        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <!-- Youtube -->
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Last_Project"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".map.MapActivity"

            android:exported="false" />
        <activity
            android:name=".member.JoinActivity"
            android:exported="false" /> <!-- dialog 형태로 테마를 이용해서 액티비티 띄우기 -->
        <activity
            android:name=".customer.CusDetailActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- 3. http 요청가능한 lib를 사용중인 어플인 것을 기재 (사용할것) -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoc006f031712cfaf72e9114ab242a0b4c" />
            </intent-filter>
        </activity>
        <!--.member.LoginActivity : true -->
        <activity
            android:name=".member.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="c006f031712cfaf72e9114ab242a0b4c" />
    </application>

</manifest>